
.pattern-image {
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.patter-name {
    font-weight: 700;
    display: block;
    text-align: center;
}

.creational-patterns {
    grid-column: 1/3;
    grid-row: 2;
}

body, html {
    font-family: "PT Sans","helvetica neue",tahoma,"PingFang SC","microsoft yahei",arial,"hiragino sans gb",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444;
}